<!--The content below is only a placeholder and can be replaced.-->
<br/>
<followers></followers>
<br/>
<!-- <posts></posts> -->


<!-- <h2>{{title}}</h2>
<change-pass-form></change-pass-form>
<br/>
<br/>
<br/>
<signup-form></signup-form>
<br/>
<br/>
<br/>
<instructor-form></instructor-form>
<br/>
<contact-form></contact-form>
<br/>
<app-authors></app-authors>
<app-courses></app-courses>
<app-course-details></app-course-details>
<button class="btn btn-primary">Save</button>

<app-favorite [is-favorite]="post.isFavorite" (change)="onfaveChange($event)"></app-favorite>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="panel-body">Body</div>
</bootstrap-panel>

<app-like
    [likesCount]= "tweet.likesCount"
    [isActive]="tweet.isLiked">
    
</app-like>

<div *ngIf="courses.length > 0; else noCourses">
    List of Courses.
    <ul>
        <li *ngFor="let course of courses; index as i">
          {{ i }}  {{ course.name }}</li>
    </ul>
</div>
<ng-template #noCourses>
    No courses yet.
</ng-template>


<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy> -->